<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1_BackgroundWorker.Properties.Settings_cht" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WindowsFormsApp1_BackgroundWorker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WindowsFormsApp1_BackgroundWorker.Properties.Settings_cht>
            <setting name="Test" serializeAs="String">
                <value>測試</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>開始</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>暫停</value>
            </setting>
        </WindowsFormsApp1_BackgroundWorker.Properties.Settings_cht>
        <WindowsFormsApp1_BackgroundWorker.Properties.Settings>
            <setting name="Test" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>Start</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>Pause</value>
            </setting>
        </WindowsFormsApp1_BackgroundWorker.Properties.Settings>
    </applicationSettings>
</configuration>